.section {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5000;
    height: 100vh;
    background-color: #fff;
    overflow: hidden;
    display: grid;
    place-items: center center;
}

.wrapper {
    margin: 0 auto;
    width: max-content;
}

@keyframes floatImage {
    50% {
        transform: translateY(3px);
    }
}

.image {
    animation: 1s floatImage infinite;
}

.title {
    color: var(--main-text-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.4px;
    margin-top: 10px;
    text-align: center;
}