.section {
    width: 400px;
    max-width: 100%;
    padding: 24px;
    max-height: 650px;
    overflow-y: scroll;
}

.section::-webkit-scrollbar {
    width: 15px;
}

.section::-webkit-scrollbar-thumb {
    background-color: #fbe9ba;
    border-radius: 15px;
}

@media screen and (min-width: 500px) {
    .section {
        width: 600px;
        padding: 64px;
    }
}

.title {
    margin-bottom: 20px;
    color: var(--main-text-color);
    font-size: 40px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.8px;
}

.description {
    margin-bottom: 20px;
    color: rgba(18, 20, 23, 0.8);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.37;
}

.wrapperTeacher {
    display: flex;
    align-items: flex-start;
    gap: 14px;
    margin-bottom: 40px;
}

.image {
    border-radius: 100px;
}

.titleTeacher {
    color: var(--color-text-content);
    font-size: 12px;
    font-weight: 500;
    line-height: 1.33;
    margin-bottom: 4px;
}

.nameTeacher {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
}