.container {
    max-width: 345px;
    padding: 0 14px;
    margin: 0 auto;
}

.button {
    cursor: pointer;
    border-radius: 12px;
    background: #f4c550;
    text-align: center;
    display: block;
    margin: 64px auto 20px ;
    padding: 16px;
    width: 183px;
    border: none;
    color: #121417;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.55;
}

@media screen and (min-width: 500px) {
    .container {
        max-width: 500px;
        padding: 0 20px;
    }
}

@media screen and (min-width: 1000px) {
    .container {
        max-width: 1440px;
        padding: 0 64px;
    }
}